<form action="/api/productos"
    method="POST">
    <label>Nombre</label>
    <input name="name"/>
    <label>Precio</label>
    <input name="precio"/>
    <label>Stock</label>
    <input name="stock" />
    <button type="submit">Enviar</button>
</form>