<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel= "stylesheet" href="style.css">
</head>
  <body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    {{>cabecera}}
  </nav>
      <div class= "container">
        <div class="row mt-5">
          <div class="col">
        <div class="card" style="width: 16rem;">
          <img src="https://chile-media.renuevatucloset.com/product/0023/29/thumb_2228410_product_medium.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vestido blanco</h5>
            <p class="card-text">Hermoso vestido blanco para fiestas</p>
            <a href="https://www.renuevatucloset.cl/producto/mujer/ropa/vestidos/3992459" class="btn btn-success">Compralo aquí</a>
          </div>
        </div>
          </div>
          <div class="col">
            <div class="card" style="width: 16rem;">
              <img src="https://chile-media.renuevatucloset.com/product/0023/35/thumb_2234547_product_medium.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mom jean</h5>
                <p class="card-text">Mom jean negro a la moda</p>
                <a href="https://www.renuevatucloset.cl/producto/mujer/ropa/jeans-y-pantalones/3994180" class="btn btn-success">Compralo aquí</a>
              </div>
            </div>          
         </div>
         <div class="col">
            <div class="card" style="width: 16rem;">
                <img src="https://chile-media.renuevatucloset.com/product/0023/30/thumb_2229285_product_medium.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vestido</h5>
                  <p class="card-text">Hermoso vestido floreado para el verano</p>
                  <a href="https://www.renuevatucloset.cl/producto/mujer/ropa/vestidos/3992692" class="btn btn-success">Compralo aquí</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 16rem;">
            <img src="https://chile-media.renuevatucloset.com/product/0023/29/thumb_2228392_product_medium.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vestido</h5>
                  <p class="card-text">Vestido de gala blanco </p>
                  <a href="https://www.renuevatucloset.cl/producto/mujer/ropa/vestidos/3992457" class="btn btn-success">Compralo aquí</a>
                </div>
            </div>
          </div>
     </div>
     </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {{>pie_pagina}}
</body>
</html>