<div class="container-fluid">
        <a class="navbar-brand" href="/principal">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/registro" class="nav-link">Registrar</a>
            </li>
            <li class="nav-item">
              <a href="/ingresar" class="nav-link">Ingresar</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link disabled" aria-disabled="true" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mi perfil</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Pagos</a></li>
                <li><a class="dropdown-item" href="#">Recibos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Billetera</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Administración</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Busca tu producto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>